
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    --cor-background: #ffffff;
    --preto: #000000;


    --cor-principal: #8E2424;
    --cor-secundaria: #fff0ef;
    --cor-subtexto: #9b9b9b;

    --cor-subbackground: #8E24240D;
    --cor-hover: #b60000cc;
}


body{

    font-family: "Kanit", sans-serif;


}



/* Header */


.cabecalho{
    
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.secao-logo-nome{

    margin: 10px 0 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: default;
}

.logo-empresa-classe{

    width: 27px;
    height: 27px;
}

.cabecalho-nome-empresa{

    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.cabecalho-menu{

    display: flex;
    align-items: center;
    
    gap: 30px;
    margin-top: 15px;
    color: var(--cor-subtexto);

}
.cabecalho-menu-item:hover{

    color: var(--cor-principal);

}



.cabecalho-botoes{

    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cabecalho-botao{


    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: 0.3s;


}

.botao-principal{

    background-color: var(--cor-principal);
    color: var(--cor-background);


}

.botao-secundario{

color: var(--cor-subtexto)

}

.cabecalho-botao:hover{

    filter: brightness(0.9);
    background-color: var(--cor-hover);
    color: #ffffff;

}







/* Main */


/* Dia 2 - Inicio */

.secao-corpo-largura-maxima{

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 30px;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;   
    

}



.sobre-nos{
    
    font-weight: 500;
    color: var(--cor-principal);
    font-size: 16px;
}

.porque-diferentes{
    font-weight: bold;
    font-size: 36px;
}

.texto-main{
    font-size: 16px;
    width: 50%;
    text-align: center;
    font-weight: 300;
    color: var(--cor-subtexto);
   
}

/* Dia 2 - Fim */


/* Dia 3 - Inicio */


.informacoes-empresa{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 100px 50px 30px 50px;

}



.info-classe h3{


    font-size: 48px;
    font-weight: bold;
    color: var(--cor-principal);
    margin-bottom: 10px;

}

.info-classe h4{

    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;

}

.info-classe p{

    font-size: 16px;
    font-weight: 300;
    color: var(--cor-subtexto);
    margin-top: 20px;

}
/* Dia 3 - Fim */






/* Dia 4 - Inicio */

.texto-vagas-evidencia{
    
        font-size: 16px;
        font-weight: bold;
        color: var(--cor-principal);
        background-color: var(--cor-subbackground);
        text-align: center;
        margin-top: 20px;
        padding: 12px;
        border-radius: 24px;
        text-transform: uppercase;
    
    
}



.titulo-destaque-vagas{

    font-size: 36px;
    font-weight: bold;
    color: var(--preto);
    text-align: center;


}

.texto-vagas{

    font-size: 16px;
    font-weight: 300;
    color: var(--cor-subtexto);
    text-align: center;



}

.imagem-equipe{

    width: 80%;
    height: 40vh;
    border-radius: 8px ;
    box-shadow: 2px 2px 10px 10px rgba(255, 5, 5, 0.116);
}

/* Dia 4 - Fim */






/* Dia 5 - Inicio */

.secao-profissao{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 100px 0 50px 0;

}
.card-vaga{

    display: grid;
    width: 70vh;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 20px;
    background-color: var(--cor-background);
    border: var(--cor-subtexto) 1px solid;
    border-radius: 12px;
    
    margin-top: 30px;
}



.titulo-cargo{
    
        font-size: 24px;
        font-weight: bold;
        color: var(--preto);
    
    
}

.titulo-vaga{
    margin-top: 15px;
    font-weight: 600;

}

.campos-informativos-profissao{

    margin: 5px 0 15px 0;
    display: flex;
    gap: 20px;
    color: var(--cor-subtexto);
}

/* dia 5 - Fim */







/* dia 6 - Inicio */

.secao-depoimento{


    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 10px 250px 100px 250px;


    padding: 22px;

    justify-content: center;
    background-color: var(--cor-subbackground);
    border-radius: 12px;

}
.alinhar{
    justify-self: center;
}
.info-depoimento{
    margin-top: 30px;
    color: var(--cor-principal);
    font-size: 16px;
    font-weight: 500;

}
.titulo-depoimento{
    font-size: 24px;
    font-weight: bold;
    color: var(--preto);
    text-align: center;
    
}
.nome-colaborador{
    font-size: 16px;
    font-weight: 500;
    color: var(--preto);
}
.cargo-colaborador{
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 300;
    color: var(--cor-subtexto);
}



/* dia 6 - Fim */




/* Dia 7 - Inicio */




footer{
    margin: 0;
    background-color: var(--cor-subbackground);
    padding: 30px;
}

.rodape-secao{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 100px 50px 50px 100px;

}

.titulo-oportunidades{

    font-size: 36px;
    font-weight: 500;
    color: var(--preto);
    text-align: center;

}

.subtitulo-oportunidades{

    font-size: 16px;
    font-weight: 300;
    color: var(--cor-subtexto);
    text-align: center;


}

.campo-email{

    display: flex;
    gap: 15px;
}


.input-email{

    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    border: solid 1px var(--cor-subtexto);

}

.botao-cadastro{

    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--cor-principal);
    color: var(--cor-background);


}

.texto-copy{


    font-size: 12px;
    font-weight: 300;
    color: #4d4c4cc0;
    text-align: center;

}

/* Dia 7 - Fim */